<nav class="w-full">
  <div class="relative flex flex-col">
    <div class="flex items-center justify-between px-4 py-2 text-black h-[62px]">
      <img ngSrc="assets/logo_p6.png" alt="Logo" height="140" width="81">
      <img ngSrc="/assets/burger-ico.svg" alt="burger menu" height="16" width="24" class="cursor-pointer" (click)="toggleMenu()"/>

      <!-- Overlay à gauche -->
      <div *ngIf="isOpen" class="fixed inset-0 bg-black opacity-40 z-5" (click)="toggleMenu()"></div>

      <div *ngIf="isOpen" class="fixed top-0 right-0 w-8/12 h-screen bg-white z-10 flex flex-col text-end justify-between p-6 border-2 border-black transition-transform duration-300 ease-in-out transform">
        <ul class="flex flex-col gap-4">
          <li><a (click)="logout()" class="hover:underline w-fit text-red-700 cursor-pointer">Se déconnecter</a></li>
          <li><a routerLink="login" routerLinkActive="underline" class="hover:underline divide-purple-500 cursor-pointer">Articles</a></li>
          <li><a routerLink="themes" routerLinkActive="underline" class="hover:underline cursor-pointer">Thèmes</a></li>
        </ul>
        <ul class="self-end">
          <li>
            <a routerLink="login" routerLinkActive="text-purple-500" class="cursor-pointer">
              <img ngSrc="/assets/userAvatar.svg" height="48" width="48" alt="user avatar"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <mat-divider></mat-divider>
    </div>
  </div>
</nav>
