<nav class="hidden md:flex md:w-full">
  <div class="w-full flex flex-col px-4 py-2 text-black md:h-[94px]">
    <img ngSrc="assets/logo_p6.png" alt="Logo" height="140" width="81">
    <mat-divider></mat-divider>
  </div>
</nav>

<div class="p-4 flex flex-col items-center justify-center">
  <a routerLink="/" class="cursor-pointer self-start">
    <p class="text-5xl">←</p>
  </a>

  <div class="w-full flex flex-col items-center justify-center mb-10">
    <img ngSrc="assets/logo_p6.png" alt="Logo" class="md:hidden" height="401" width="695">
    <h1>{{ registerTextsConstants.REGISTER_TITLE }}</h1>
  </div>

  <form class="max-w-[250px]" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="text-red-600" *ngIf="form.controls.username.touched && form.controls.username.invalid">
      <small *ngIf="form.controls.username.errors?.['required']">{{ formControlTextsConstants.USERNAME_REQUIRED }}</small>
      <small *ngIf="form.controls.username.errors?.['minlength']">{{ formControlTextsConstants.USERNAME_LENGTH_MIN }}</small>
    </div>
    <mat-label>{{registerTextsConstants.USERNAME_LABEL}}</mat-label>
    <input type="text" class="w-full p-2 border border-gray-300 rounded-md mb-4" formControlName="username" required>


    <div class="text-red-600" *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <small *ngIf="form.controls.email.errors?.['required']">{{ formControlTextsConstants.EMAIL_REQUIRED }}</small>
      <small *ngIf="form.controls.email.errors?.['email']">{{ formControlTextsConstants.EMAIL_INVALID }}</small>
    </div>
    <mat-label>{{ registerTextsConstants.EMAIL_LABEL }}</mat-label>
    <input type="email" class="w-full p-2 border border-gray-300 rounded-md mb-4" formControlName="email" required>

    <div class="text-red-600" *ngIf="form.controls.password.touched && form.controls.password.invalid">
      <small *ngIf="form.controls.password.errors?.['required']">{{formControlTextsConstants.PASSWORD_REQUIRED}}</small>
      <small *ngIf="form.controls.password.errors?.['minlength']">{{formControlTextsConstants.PASSWORD_LENGTH_MIN}}</small>
      <small *ngIf="form.controls.password.errors?.['pattern']">{{formControlTextsConstants.PASSWORD_PATTERN}}.</small>
    </div>
    <mat-label>{{registerTextsConstants.PASSWORD_LABEL}}</mat-label>
    <input type="password" class="w-full p-2 border border-gray-300 rounded-md mb-4" formControlName="password" required>

    <div class="flex flex-col items-center justify-center">
      <app-plain-button type="submit" [disabled]="form.invalid" [textButton]=registerTextsConstants.REGISTER_BUTTON></app-plain-button>
    </div>
    <ul *ngIf="errorMessage.length > 0" class="flex justify-center text-red-600 text-sm">
      <li *ngFor="let err of errorMessage">
        {{ err.message }}
      </li>
    </ul>
  </form>
</div>
